html{
    height: 100vh;
}
body{
    background: linear-gradient(to top, rgba(250,235,215,1) 15%, rgba(167,209,218,0.9473039215686274) 53%, rgba(250,235,215,1) 90%);
    background-repeat: no-repeat;
    height: 100%;
}
h1{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}
h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}
h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 50px;
}