/*& RESETEO GENERAL*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
/*!ESTILOS GENERALES*/
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
/*~PREHEADER*/
.preheader {
  padding: 5px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8) ;
}
/*~ HEADER*/
.header-container {
    width: 100%;
    position: fixed;
    z-index: 999;
}
header{
  height: 120px;
  background-color: rgb(246, 246, 246);
}
/*^ Este contiene al nav-> Logo, navmenu, searchinput y simbolos carrito y msjs*/
#header{
    display:flex;
    justify-content:space-around ;
    background-color: rgb(246, 246, 246);
    width: 1000px;
    margin: 0 auto;
    align-content: center;
  }

  nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* justify-content: space-between; */
  /* width: 100%; */
}

/*?Logo y nav menú*/

.logo-section{
    display: flex;
}

/*?Solo logo*/

.header-logo {
    width: 150px;
    height: 50px;
   margin-bottom: 10px;
  }
/*^Anclas y Ul´s*/
#cart{
  margin-top: 5px;
}

.nav-ul {
    display: flex;
    list-style-type: none;
}

.nav-ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
}

a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    
}

a:hover {
    font-weight: 600;
    color: #FF8300;
}
/*^Barra de Busqueda*/
.search-input{
  width: 20%;
  margin: 20px 20px;
  padding: 20px 20px;
}
.search-input-btn{
  border:solid 2px #FF8300;
  color: #FF8300;
}
.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
/*^Banner*/
.banner {
    padding-top: 155px;
    width: 100%;
    height: 600px;
    /* background-image: url("../img/appliance-banner.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.banner img {
  /* width: 100%; */
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1 ease;
}
.banner img.active{
  opacity: 1;
}
/*^ user y message icon*/


/*~  CARD PRODUCTS SECTION*/

  .card-img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .card-text {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding:1rem;

  }
  .card-text p{
    padding: 10px 0;
  }
  .card-text h3 sup{
    z-index:-1 ;
  }

  #card-button{
    margin: 0 auto;
    padding: 10px;
  }
/*~ BANNER PIE DE PAGINA*/
  .view-products-banner-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
/*~ FOOTER*/
  .view-products-banner {
    width: 1000px;
    height: 200px;
    text-align: center;
    text-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    font-size: 50px;
    font-weight: bold;
    line-height: 220px;
    border-radius: 5px;
    color: #fff;
    background-image: url("../img/bush.jpg");
    background-size: cover;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }


  .footer{
    background-color: rgba(255, 131, 0, 0.9);
    height: 200px;
    margin-top: 30px;
  }

/*!ESTILOS FUNCIONALES CON JS*/
  /*&------------------------------- SearchFilters ------------------------- */
#productos{
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  justify-items: center;

}
.product-card {
  height: 450px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  max-width: 250px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color:rgba(255, 131, 0, 0.7);
  transition: all 0.3s ease-out;
  /* scale: 0; */
}
/*! Clase que me permitirá filtrar los rdos que no coincidan con lo que tipeo el user en el buscador*/
.filter{
  display: none;
}

 .product-card:hover{
  box-shadow: 10px 5px 5px #FF8300;
  scale: 1.05;
  
} 

/*^Alternativa con js para hover: scale y shadow*/
.shadow{
  box-shadow: 10px 50px 50px black;
  scale: 1.05;
}


/*!MENU HAMBURGUESA (reseteo general)*/

:root{
  --main-font:'Roboto', sans-serif;
  --font-size:16px;
  --main-color:#ff8300;
  --main-modal-color:rgb(255, 255, 255);
  --second-modal-color: #090909d9;
  --container-width: 800px;
  }
  
  html{
      box-sizing: border-box;
      font-family: var(--main-font);
      font-size: var(--font-size);
      scroll-behavior: smooth;
  }
  *,
  *:before,s
  *:after{
      box-sizing: inherit;
  }
  
  body{
      margin: 0;
      overflow-x: hidden;
  }
  
  img{
      width: 100%;
      height: auto;
  }
  
/*!Menú de Hamburguesa (estilos)*/
  
.panel{
      position: fixed;
      z-index: 998;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: var(--second-modal-color);
      width:100%;
      transition: transform .7s ease;
      /*De arriba*/
      transform: translate(0,-100%);
}
.panel.is-active{
  transform: translate(0,0);
  z-index: 1500;
}
  
.panel-btn{
  position:fixed;
  z-index: 1501; /*Cuando cambiamos el position podemos jugar con las profundidades*/
  bottom: 1vh;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: var(--second-modal-color); 
}

.panel-btn:hover{
  background-color: var(--second-modal-color);
  color: var(--main-color);
}

.menu{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-top: solid 1px white ;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FF8300;
  transition: all 0.3s ease;
  border-bottom: solid 1px white ;
}
.menu a:hover{
  font-weight: bold;
  color: #FF8300;
  background-color:rgb(246, 241, 235,0.9);
 }



/*! -------------------- Dark Theme Button -----------------------*/
.dark-theme-btn{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vh);
  width: 4rem;
  height:4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-modal-color);
  cursor: pointer;
  outline: 0;
  border:0;
  transition: all 0.3s ease-out;
}
.dark-theme-btn:hover{
  background-color: var(--second-modal-color);
  color: var(--main-color);
}

.dark-mode{
  background-color: #090909d9;
  color: white;

}
.dark-mode a{
  background-color: unset;
  color: white;
}

/*!CARRITO*/

.carrito-contenedor{
  min-height: 70vh;
  margin: 0 auto;
  padding: 20px 20px;
  width: 100%;
  min-width: fit-content;
}
.carrito{
  min-height: 70vh;
  margin: 0 auto;
  padding: 20px 20px;
  width: 100%;
}
.tbody{
  width: fit-content;
  
}
.table-productos{
  display: flex;
}

.table-productos > img{
  width: 6rem;
  height: auto;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 6px;
}
.table-cantidad > input{
  align-self: center;
  width: 30%;
  margin-left: 20px;
  border: none;
  outline: 0;
  font-size: 10px;
  font-weight: bold;
  margin-right: 15px;
  margin-bottom: 10px;
}
.th{
  text-align: center;
}
.tr-color{
  color: #FF8300;
}

.input__element{
max-width: 50%;
}
.delete{
  margin-left: 1rem;
}
.price{
  align-content: center;
  margin: 0;
  padding-bottom: 3px;
}


